body {
  font-family: Arial;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #3F3F37;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 6rem
}

.charts {
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
  position: absolute;
}

article {
  margin: 1rem;
}

/* tooltips */

.tooltip {
  position: relative;
  /* background-color: yellow; */
  color: black;
  padding: 1rem;
  opacity: 0;
  width: 9rem;
  height: 8.4rem;
  text-decoration: none;
}

.tooltip:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  content: attr(title);
  margin: 3rem auto 0;
  width: 130px;
  /* opacity: 0.5; */
  /* background-color: gray; */
  /* padding: 1rem; */
  /* color: white; */
  opacity: 0;
}

/* row 1 */

.tooltip1x1 {
  top: 9.2rem;
  left: -1.5rem;
  opacity: 1;
  /* background-color: yellow; */
}

.tooltip1x2 {
  top: 9.2rem;
  left: -1.2rem;
  opacity: 1;
  /* background-color: blue; */
}

.tooltip1x3 {
  top: 9.2rem;
  left: -0.9rem;
  opacity: 1;
  /* background-color: purple; */
}

.tooltip1x4 {
  top: 9.2rem;
  left: -0.9rem;
  opacity: 1;
  /* background-color: green; */
}

.tooltip1x5 {
  top: 9.2rem;
  left: -0.7rem;
  opacity: 1;
  /* background-color: pink; */
}

/* row 2 */

/* .tooltip2x1 {
  top: 19.6rem;
  left: -1.5rem;
  opacity: 1;
  background-color: yellow;
}

.tooltip2x2 {
  top: 9.2rem;
  left: -1.2rem;
  opacity: 1;
  background-color: blue;
}

.tooltip2x3 {
  top: 9.2rem;
  left: -0.9rem;
  opacity: 1;
  background-color: purple;
}

.tooltip2x4 {
  top: 9.2rem;
  left: -0.9rem;
  opacity: 1;
  background-color: green;
}

.tooltip2x5 {
  top: 9.2rem;
  left: -0.7rem;
  opacity: 1;
  background-color: pink;
} */