body {
  font-family: Arial;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: cadetblue;
}

h1 {
  margin-bottom: 2rem;
  color: white;
}

.charts {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: -1rem;
}

article {
  margin: 1rem;
}

.matrix {
  background-color: white !important;
  /* width: 50px !important; */
}